<!-- 原始寫法 -->
<!-- <div class="mt-2 px-1 flex">
  <% @lists.each do |list| %>
    <div class="bg-gray-300 mx-2 w-64 rounded">
      <h2 class="px-3 py-1 font-bold"><%= list.name %></h2>
    </div>
  <% end %>
</div> -->

<!-- Vue.js寫法 -->
<div id="board" class="mt-2 px-1" data-lists="<%= @lists.to_json(include: :cards) %>">
  <!-- 將controller丟過來的lists轉換為json檔，且清單珠有卡片的話，要一起印出來 -->
  <!-- 用data attribute灌資料 不用api -->
  <!-- data-隨便取名字都可（data-？？？）-->
  <!-- <div id="board" data-lists="[{&quot;id&quot;:1,&quot;name&quot;:&quot;TODO&quot;,&quot;user_id&quot;:1,&quot;position&quot;:1,&quot;created_at&quot;:&quot;2024-06-24T10:28:07.411Z&quot;,&quot;updated_at&quot;:&quot;2024-06-24T10:28:07.411Z&quot;,&quot;cards&quot;:[]},{&quot;id&quot;:2,&quot;name&quot;:&quot;DOING&quot;,&quot;user_id&quot;:1,&quot;position&quot;:2,&quot;created_at&quot;:&quot;2024-06-24T10:28:25.370Z&quot;,&quot;updated_at&quot;:&quot;2024-06-24T10:28:25.370Z&quot;,&quot;cards&quot;:[]},{&quot;id&quot;:3,&quot;name&quot;:&quot;DONE&quot;,&quot;user_id&quot;:1,&quot;position&quot;:3,&quot;created_at&quot;:&quot;2024-06-24T10:28:30.985Z&quot;,&quot;updated_at&quot;:&quot;2024-06-24T10:28:30.985Z&quot;,&quot;cards&quot;:[]}]"> -->
    <!-- <div class="bg-gray-300 mx-2 w-64 rounded" v-for="list in lists">
      <h2 class="px-3 py-1 font-bold">{{ list.name }}</h2>
    </div> -->
    <!-- 將以上獨立成一個component，達到 軟體元件再使用 的效果 -->
    <draggable v-model="lists" class="flex" @change="listMoved">
    <!-- 使用draggable元件 -->
    <!-- 綁定v-model 讓東西拖拉完後 相關的資料會相應地改變位置 -->
    <!-- lists是由data屬性來的 data:{ lists: JSON.parse(el.dataset.lists) } -->
    <!-- @change="listMoved"：change事件發生時，執行listMoved方法 -->
      <List v-for="list in lists" :list="list" :key="list.id"></List>
      <!-- 為了避免重複 所以有key -->
      <!-- list.vue 中： props: ["list"] // 於父層或外層餵資料給元件（list）的手法 -->
      <!-- :list=「"list"」及 :key="「list」.id"是由前面的 v-for="「list」 in lists"來的 -->
      <!-- lists是由 appliction.js中： data: { lists: JSON.parse(el.dataset.lists) } 來的 -->
    </draggable>
</div>
